<!-- Bootstrap core CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'css/frame.css' %}">
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
